.MuiDataGrid-cell.MuiDataGrid-cell--textLeft,
.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle {
  color: white;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1ps6pg7-MuiPaper-root {
  background: #2b384a;
  border-radius: 10px;
  box-shadow: 0 0 3px #2b384a;
  color: white;
  svg {
    color: white;
  }
}
.MuiDataGrid-main.css-3eek4p-MuiDataGrid-main {
  width: 100%;
}
.MuiDataGrid-panelWrapper.css-1miuj5f-MuiDataGrid-panelWrapper {
  background: #111e31;

  input,
  svg {
    color: white;
  }
}
